<div class="preloader" [style.display]="stateViewLoader">
    <h1>
        <span class="let1">l</span>  
        <span class="let2">o</span>  
        <span class="let3">a</span>  
        <span class="let4">d</span>  
        <span class="let5">i</span>  
        <span class="let6">n</span>  
        <span class="let7">g</span>
    </h1>
</div>
<app-table-coins
    [activeItems]="activeItems"
    [getDataCoin]="getDataCoin"
    [tableListCoin]="tableListCoin"
    (page)="controlViewPages($event)"
></app-table-coins>
<app-graphs-coin
    [graphsListCoin]="graphsListCoin"
    (page)="controlViewPages($event)"
></app-graphs-coin>