<!-- <div class="list__currencies" [style.top]="dataApp.positionTopList">
    <div class="hide__list" (click)="hideListCoins()">&times;</div>
    <div class="wrapper">
        <ul>
            <li
                *ngFor="let item of dataApp.tableListCoin"
                (click)="changeVisibleItemTable($event)"
                [class]="activateItemList(item.symbol)"
                [id]="item.symbol"
            >
                <img [src]="item.image" [alt]="item.name"/>
                <p>{{ item.name }}</p>
                <div>✓</div>
            </li>
        </ul>
    </div>
</div> -->